
<div class="container d-flex justify-content-center">
    <mat-card style="max-width: 700px; width: 100%; margin-top: 35px; margin-bottom: 50px;">    
        <!-- Title of an Card -->    
        <mat-card-title style="text-align: center;">    
            Registro de tortugario  
        </mat-card-title>    
        <mat-card-content>    
            <form [formGroup]="tortugario"> 
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre Torguario</mat-label>
                            <input matInput 
                                   formControlName="nombre"
                                   (blur)="erroMessage('nombre', tortugario.controls.nombre)"/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo de torguario</mat-label>
                            <mat-select 
                                        formControlName="tipoTortugario" 
                                        (blur)="erroMessage('tipoTortugario', tortugario.controls.tipoTortugario)">
                                <mat-option value="Registrado">Registrado</mat-option>
                                <mat-option value="En proceso de registro">En proceso de registro</mat-option>
                            </mat-select>    
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">

                            <mat-label>Número de registro</mat-label>
                            <input matInput 
                                   formControlName="numeroRegistro"
                                   (blur)="erroMessage('numeroRegistro', tortugario.controls.numeroRegistro)" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Dirección CONAP</mat-label>
                            <mat-select  
                                        formControlName="direccionConap" 
                                        (blur)="erroMessage('direccionConap', tortugario.controls.direccionConap)">
                                <mat-option value="DIRECCION 1">DIRECCION 1</mat-option>
                                <mat-option value="DIRECCION 2">DIRECCION 2</mat-option>
                            </mat-select>    
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Huevos sembrados</mat-label>
                            <input matInput 
                                   formControlName="huevosSembrados"/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">

                            <mat-label>Neonatos liberados</mat-label>
                            <input matInput 
                                   formControlName="neonatosLiberados"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Departamento</mat-label>
                            <mat-select 
                                        formControlName="departamento" 
                                        (selectionChange)="getMunicipio($event)" 
                                        (blur)="erroMessage('departamento', tortugario.controls.departamento)">
                                <mat-option *ngFor="let depto of departamentos" value="{{depto.descripcion}}">{{depto.descripcion}}</mat-option>
                            </mat-select>    
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">

                            <mat-label>Municipio</mat-label>
                            <mat-select
                                        formControlName="municipio" 
                                        (blur)="erroMessage('municipio', tortugario.controls.municipio)">
                                <mat-option *ngFor="let municipio of municipios" value="{{municipio.descripcion}}">{{municipio.descripcion}}</mat-option>
                            </mat-select>    
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6" formArrayName="especies">
                                <mat-form-field appearance="outline">
                                    <mat-label>Especies</mat-label>
                                    <mat-select  
                                                (selectionChange)="setIndexEsepcie($event)" 
                                                (blur)="erroMessage('especies', tortugario.controls.especies)">
                                        <mat-option *ngFor="let especie of especies; let i = index" [value]="especie">{{especie.nombre}}</mat-option>
                                    </mat-select>    
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <button type="button" mat-button class="active-button" (click)="addEspecie()">Agregar especie</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" *ngFor="let especieControl of $any(tortugario.controls.especies).controls" style="margin-bottom: 10px; margin-left: 10px;">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-3">{{especieControl.value ? especieControl.value.nombre : ''}}</div>
                                    <div class="col-md-3">
                                        <button type="button" mat-icon-button  (click)="removeElement(playaControl.value, tortugario.controls.playas)" style="color: red;">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6" style="margin-left: 0; padding-left: 0;">
                                <mat-form-field appearance="outline">

                                    <mat-label>Playas</mat-label>
                                    <mat-select 
                                                formArrayName="playas" 
                                                (selectionChange)="setIndexPlaya($event)" 
                                                (blur)="erroMessage('playas', tortugario.controls.playas)">
                                        <mat-option *ngFor="let playa of playas; let i = index" [value]="playa">{{playa.nombre}}</mat-option>
                                    </mat-select>    
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <button type="button" mat-button class="active-button" (click)="addPlaya()">Agregar playa</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" *ngFor="let playaControl of $any(tortugario.controls.playas).controls; let i = index" style="margin-bottom: 10px; margin-left: 10px;">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-3">{{playaControl.value ? playaControl.value.nombre : ''}}</div>
                                    <div class="col-md-3">
                                        <button type="button" mat-icon-button (click)="removeElement(playaControl.value, tortugario.controls.playas)" style="color: red;">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6" formArrayName="hoteles">
                                <mat-form-field appearance="outline">

                                    <mat-label>Hoteles</mat-label>
                                    <mat-select
                                                (selectionChange)="setIndexHotel($event)">
                                        <mat-option *ngFor="let hotel of hoteles; let i = index" [value]="hotel">{{hotel.nombre}}</mat-option>
                                    </mat-select>    
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="active-button" mat-button (click)="addHotel()">Agregar hotel</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" *ngFor="let hotelControl of $any(tortugario.controls.hoteles).controls; let i = index" style="margin-bottom: 10px; margin-left: 10px;">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-3">{{hotelControl.value ? hotelControl.value.nombre : ''}}</div>
                                    <div class="col-md-3">
                                        <button type="button" mat-icon-button (click)="removeElement(hotelControl.value, tortugario.controls.hoteles)" style="color: red;">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row d-flex align-self-center">
                            <div class="col-md-8">
                                <label class="first-label-title">
                                    ¿Seguimiento donaciones?
                                </label>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-control custom-switch custom-switch-lg">
                                    <input type="checkbox" 
                                            class="custom-control-input"
                                            formControlName="administrarDonaciones"
                                            id="administrarDonaciones">
                                        <label class="custom-control-label" 
                                            for="administrarDonaciones">
                                        </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label style="margin-right: 10px;">Cargar fotografías</label>
                        <button type="button" mat-mini-fab style="color: white; background-color: #0c86cd;" (click)="onFileSelected()">
                            <mat-icon>image_search</mat-icon>
                        </button>
                    </div>
                    <div>
                        <input type="file" 
                        multiple="multiple"
                        accept="*.*"
                        style="display: none;" 
                        #fileUpload>
                    </div>
                </div>
                <div class="row" style="height: auto;">
                    <div class="col-md-12 d-flex justify-content-center" style="overflow-x: auto; width: 100; height: auto;">
                        <div *ngFor="let file of fileList; index as i" style="height: 230px; width: 200px; margin-left: 5%; margin-right: 5%">
                            <div class="row" >
                                <img class="img-fluid img-thumbnail" [src]="file.img" alt="Italian Truilie">
                            </div>
                            <div class="row d-flex justify-content-center">
                                <button type="button" mat-icon-button (click)="onFileDeleted(i);">
                                    <mat-icon style="color: red;">delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>  
            </form>    
        </mat-card-content>    
        <mat-card-actions>
            <div class="row" style="margin-top: 55px;">
                <div class="col-md-12 d-flex justify-content-center" style="margin-bottom: 10px;">
                    <button type="submit"  
                            mat-raised-button 
                            color="primary" 
                            style="margin-right: 20px; background-color: #0c86cd; color: white;" 
                            (click)="confirmCreation()">Guardar</button>  
                    <button type="button" 
                            mat-raised-button 
                            style="background-color: red; color: white;" (click)="cancel()">Cancelar</button> 
                </div>
            </div> 
        </mat-card-actions>
    </mat-card> 
</div>