@import '../../../../sass/variables.scss';

table {
    text-align: center !important;
    width: 100%;
    td {
        text-align: center;
    }

    th  {
        text-align: center;
    }
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;

    @media only screen and (max-width: #{$medium-l}) {
        font-size: 20px;
    }
}

span {
    font-weight: bold;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
}

.container {
    max-width: 1440px;
}