<div class="container" style="padding-top: 50px; padding-bottom: 100px; padding-top: 200px;">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-md-12">
          <h1> Varamientos en la temporada actual</h1>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-md-12">
            <div class="mat-elevation-z8" style="width: 100%;">
                <table mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter">
            
                  <!-- no Column -->
                  <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1}} </td>
                  </ng-container>
              
                  <!-- tortugario Column -->
                  <ng-container matColumnDef="tortugario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Tortugario </th>
                    <td mat-cell *matCellDef="let row"> {{row.tortugario}} </td>
                  </ng-container>
              
                  <!-- especie Column -->
                  <ng-container matColumnDef="especie">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Especie </th>
                    <td mat-cell *matCellDef="let row"> {{row.especie }} </td>
                  </ng-container>
              
                  <!-- estadoTortuga Column -->
                  <ng-container matColumnDef="estadoTortuga">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado tortuga </th>
                    <td mat-cell *matCellDef="let row"> {{row.estadoTortuga}} </td>
                  </ng-container>
              
                  <!-- edadTortuga Column -->
                  <ng-container matColumnDef="edadTortuga">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad apróximada </th>
                    <td mat-cell *matCellDef="let row"> {{row.edadTortuga}} </td>
                  </ng-container>
              
                  <!-- sexo Column -->
                  <ng-container matColumnDef="sexo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
                    <td mat-cell *matCellDef="let row"> {{row.sexo}} </td>
                  </ng-container>
              
                  <!-- reporte Column -->
                  <ng-container matColumnDef="reporte">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">  
                      <button mat-icon-button style="color: #0c86cd;" (click)="openPdf(row.id)">
                        <mat-icon>download</mat-icon>
                      </button> 
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-12">
            <button mat-raised-button (click)="downloadCsv()" style="background-color: #9bc682; color: white;">Descargar histórico en CSV</button>
            <button mat-raised-button (click)="downloadExcel()" style="background-color: #0c86cd; color: white; margin-left: 30px;">Descargar histórico en Excel</button>
        </div>
    </div>
  </div>