<div class="container container-fluid">
    <div>
        <div id="fountainG">
            <div id="fountainG_2" class="fountainG"></div>
            <div id="fountainG_1" class="fountainG"></div>
            <div id="fountainG_3" class="fountainG"></div>
        </div>
    </div>
</div>
