.LockOn {
   display: block;
   visibility: visible;
   position: absolute;
   z-index: 9999;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   background-color: white;
   text-align: center;
   padding-top: 100%;
   filter: alpha(opacity=75);
   opacity: 0.75;
   text-align: center;
}

.fountainG{
 position:absolute;
 top:0;
 width:28px;
 height:28px;
 animation-name:bounce_fountainG;
   -o-animation-name:bounce_fountainG;
   -ms-animation-name:bounce_fountainG;
   -webkit-animation-name:bounce_fountainG;
   -moz-animation-name:bounce_fountainG;
 animation-duration:1.5s;
   -o-animation-duration:1.5s;
   -ms-animation-duration:1.5s;
   -webkit-animation-duration:1.5s;
   -moz-animation-duration:1.5s;
 animation-iteration-count:infinite;
   -o-animation-iteration-count:infinite;
   -ms-animation-iteration-count:infinite;
   -webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
 animation-direction:normal;
   -o-animation-direction:normal;
   -ms-animation-direction:normal;
   -webkit-animation-direction:normal;
   -moz-animation-direction:normal;
 transform:scale(.3);
   -o-transform:scale(.3);
   -ms-transform:scale(.3);
   -webkit-transform:scale(.3);
   -moz-transform:scale(.3);
 border-radius:19px;
   -o-border-radius:19px;
   -ms-border-radius:19px;
   -webkit-border-radius:19px;
   -moz-border-radius:19px;
}

*, *:before, *:after {
 box-sizing: border-box;
}

#fountainG{
 position:fixed;
 width:234px;
 height:28px;
 margin:auto;
       top: 50%;
       left: 40%;
}

#fountainG_1{
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
 width: 50px;
 height: 10px;
 background: white;
 border-radius: 5px;
 -webkit-animation: load 1.8s ease-in-out infinite;
         animation: load 1.8s ease-in-out infinite;
}
 #fountainG_1:before, #fountainG_1:after {
   position: absolute;
   display: block;
   content: "";
   -webkit-animation: load 1.8s ease-in-out infinite;
           animation: load 1.8s ease-in-out infinite;
   height: 10px;
   border-radius: 5px;
 }
 #fountainG_1:before {
   top: -20px;
   left: 10px;
   width: 40px;
   background: #9bc682;
 }
 #fountainG_1:after {
   bottom: -20px;
   width: 35px;
   background: #0c86cd;
 }
 
 @-webkit-keyframes load {
   0% {
     -webkit-transform: translateX(40px);
             transform: translateX(40px);
   }
   50% {
     -webkit-transform: translateX(-30px);
             transform: translateX(-30px);
   }
   100% {
     -webkit-transform: translateX(40px);
             transform: translateX(40px);
   }
 }
 
 @keyframes load {
   0% {
     -webkit-transform: translateX(40px);
             transform: translateX(40px);
   }
   50% {
     -webkit-transform: translateX(-30px);
             transform: translateX(-30px);
   }
   100% {
     -webkit-transform: translateX(40px);
             transform: translateX(40px);
   }
 }  
