@import '../../../sass/breakpoints.scss';

.card {
  font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 320px;
  background: transparent;
}

.card{
  display: flex;
  flex-direction: column;
}

.card-hover-zoom .card {
  transition: transform .5s, filter 1.5s ease-in-out;
}

.card-hover-zoom:hover .card {
  transform: scale(1.1);
}

.card-hover {
  overflow: hidden;
}

h1 {
  @media only screen and (max-width: #{$medium-l}) {
    font-size: 20px;
  }
}