<div class="card-hover-zoom" style="width: 100%; height: 100%;" *ngIf="option" [id]="option.id">
  <div class="card" [style.background-image]="'url('+ option.background +')'" [style.border-bottom]="boderBottom"  style="background-repeat: no-repeat; background-position:  50% 0; background-size: 100% 100%;" (click)="goToPage()">
    <div class="d-flex justify-content-start align-items-end" style="height: 100%; padding-left: 10px;">
      <h1 style="color: white; font-weight: bold;">{{option.title}}</h1>
    </div>
  </div>
</div>