// ============== GLOBAL VARIABLES =================

$x-small: 320px;
$small: 550px;
$medium: 768px;
$medium-l: 896px;
$large: 1024px;
$large-l: 1200px;
$x-large: 1400px;
$x-l-large: 1650px;
$xx-large: 1920px;
$xxx-large: 2560px;

// COLORS

$monitor-blue: #0c86cd;
$monitor-green: #9bc682;
$light-grey: rgb(150, 150, 150);