<footer class="footer-20192" *ngIf="showFooter">
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="#home">
                        <img class="img-fluid" src="assets/img/logoMontiroLetrasBlancasSinOlas.png" style="width: 150px; padding-bottom: 20px;">
                    </a>
                    <ul class="list-unstyled links">
                        <li class="copyright">&copy; 2022</li>
                        <li><a href="#">Derechos</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Mapa de sitio</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <br>
                    <h3><span> <a (click)="queEsMonitor()" style="color: white; font-weight: bold;">Qué es moniTOR</a></span></h3>
                    <ul class="list-unstyled links">
                        <li><a (click)="comoApoyar()">Cómo apoyar</a></li>
                        <li><a (click)="readMore()">Créditos</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br>
                    <h3><span><a (click)="util.goToSection('generalInformation', true)" style="color: white; font-weight: bold;">Información general</a></span></h3>
                    <ul class="list-unstyled links">
                        <li><a (click)="util.goToSection('masSobreTortugas')">Una introducción a las tortugas marinas</a></li>
                        <li><a (click)="util.goToSection('diferenciasEspecies')">¿Cómo se diferencian las distintas especies de tortugas
                                marinas?</a></li>
                        <li><a (click)="util.goToSection('conservacionTortugas')">El respaldo legal para la conservación de las tortugas
                                marinas</a></li>
                        <li><a (click)="util.goToSection('cuotaConservacion')">¿Qué es el sistema de las cuotas de conservación de los huevos
                                de parlama?</a></li>
                        <li><a (click)="util.goToSection('amenazas')">¿Qué amenazas enfrentan las tortugas marinas?</a></li>
                        <li><a  (click)="util.goToSection('comoAyudarFrame')">Todos podemos poner un granito de arena para ayudar a la
                                conservación de las tortugas marinas</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h3><span><a (click)="util.goToSection('tortugarios', true)" style="color: white; font-weight: bold;"> Tortugarios y liberación de neonatos </a></span></h3>
                            <ul class="list-unstyled links">
                                <li><a (click)="util.goToSection('to1')">Ubicación de tortugarios</a></li>
                                <li><a (click)="util.goToSection('to2')">Próximas fechas de liberación de neonatos</a></li>
                                <li><a (click)="util.goToSection('to3')">Cuidados al asistir a una liberación de neonatos</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3><span><a (click)="util.goToSection('donantes', true)" style="color: white; font-weight: bold;">Donantes</a></span></h3>
                            <ul class="list-unstyled links">
                                <li><a (click)="util.goToSection('do1')">Información general para donantes</a></li>
                                <li><a (click)="util.goToSection('do2')">Mis donaciones</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3><span><a (click)="util.goToSection('reportes', true)" style="color: white; font-weight: bold;">Reportes</a></span></h3>
                            <ul class="list-unstyled links">
                                <li><a (click)="util.goToSection('rp1')">Recolección de datos de tortugarios</a></li>
                                <li><a (click)="util.goToSection('rp2')">Información de boletas de datos mensuales</a></li>
                                <li><a (click)="util.goToSection('rp3')">Información de boletas de tortugas marinas varadas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-md-2">
                    <h3><span class="span-boder">Instituciones de interés</span></h3>
                    <ul class="list-unstyled links">
                        <li><a href="https://conap.gob.gt/" target="_blank">Consejo Nacional de Áreas Protegidas - CONAP</a></li>
                        <li><a href="http://www.iacseaturtle.org/" target="_blank">Convención Interamericana para la Protección y Conservación de las Tortugas Marinas</a></li>
                        <li><a href="https://sgccc.org.gt/" target="_blank">Sistema Guatemalteco de Ciencias de Cambio Climático</a></li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <h3><span class="span-boder">Documentos de interés</span></h3>
                    <ul class="list-unstyled links">
                        <li *ngFor="let file of webFilesArray | sortBy: 'asc':'label'"><a [href]="file.link" target="_blank">{{file.label}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>