<nav id="navHeader" class="navbar navbar-expand-lg navbar-dark" *ngIf="showNavbar">
  <a href="#home">
    <img class="navbar-brand img-fluid img-header"src="assets/img/logoMontiroLetrasBlancas.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['/home', {section: 'homeMianPage'}]" data-toggle="collapse" data-target=".navbar-collapse.show">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="readMore()">Qué es moniTOR</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['/home', {section: 'generalInformation'}]" data-toggle="collapse" data-target=".navbar-collapse.show">Información general</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['/home', {section: 'tortugarios'}]" data-toggle="collapse" data-target=".navbar-collapse.show">Tortugarios y liberación de neonatos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['/home', {section: 'donantes'}]" data-toggle="collapse" data-target=".navbar-collapse.show">Donantes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink] = "['/home', {section: 'reportes'}]" data-toggle="collapse" data-target=".navbar-collapse.show">Reportes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="comoApoyar()">Cómo apoyar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a routerLink="/login" class="mr-sm-2">Iniciar sesión</a>
    </form>
  </div>
</nav>