@import '../../../sass/variables.scss';

nav{
  width: 100%;
  display: flex;
  background-color: $monitor-blue;
  font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
  position: fixed;
  z-index: 10;
  text-align: center;

  @media only screen and (min-width: #{$large}) {
    height: 120px;
  }

  @media only screen and (min-width: 995px) {
    height: 120px;
  }

  
  &.scrolled {
    background: rgba($monitor-blue, 0.9);
  }
  a {
    font-size: 20px;
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    &:hover {
      color: darken(#fff, 7%);
    }
  }

}

.active-header {
  background-color: $monitor-green;
}

.img-header {
  width: 200px;

  @media only screen and (max-width: #{$medium-l}) {
    width: 80px;
  }

}