<div class="container" style="padding-top: 50px; padding-bottom: 100px; padding-top: 200px;">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-md-12">
          <h1> Lista de tortugarios</h1>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-md-12">
            <div class="mat-elevation-z8" style="width: 100%;">
                <table mat-table [dataSource]="dataSource" matSort>
            
                  <!-- no Column -->
                  <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1}} </td>
                  </ng-container>
              
                  <!-- nombreTortugario Column -->
                  <ng-container matColumnDef="nombreTortugario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del tortugario </th>
                    <td mat-cell *matCellDef="let row"> <a (click)="showTortugariResume(row.id)"> {{row.nombre}} </a> </td>
                  </ng-container>
              
                  <!-- municipio Column -->
                  <ng-container matColumnDef="municipio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
                    <td mat-cell *matCellDef="let row"> {{row.municipio ? row.municipio : 'NA' }} </td>
                  </ng-container>
              
                  <!-- departamento Column -->
                  <ng-container matColumnDef="departamento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
                    <td mat-cell *matCellDef="let row"> {{row.departamento ? row.departamento : 'NA'}} </td>
                  </ng-container>
    
                  <!-- direccionConap Column -->
                  <ng-container matColumnDef="masInformacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let row">
                      <a style="color: #0c86cd; text-decoration: underline;" (click)="contactDialog(row.id)">Contactar tortugario </a>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</div>