@import '../../../../sass/variables.scss';

.title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    background: #9bc682;
    text-align: center;
    line-height: 58px;
    border-radius: 10px 10px 10px 10px;

    @media only screen and (max-width: #{$medium-l}) {
        font-size: 20px;
        line-height: 30px;
    }
}

.button-cerrar {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #0c86cd;
    line-height: 50px;

    @media only screen and (max-width: #{$medium-l}) {
        line-height: 30px;
        font-size: 10px;
    }
}

.markdown-style {
    font-size: 15px; 
    outline: none;

    @media only screen and (max-width: #{$medium-l}) {
        font-size: 10px;
    }
}

button {
    outline: none;
}