<div class="container" cdkFocusInitial>
    <div>
        <h1 mat-dialog-title class="title">{{data.title}}</h1>
    </div>
    <br>
    <mat-dialog-content>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-justify">
                    <markdown [src]="data.markdownSrc" class="markdown-style"></markdown>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <button mat-button class="button-cerrar" (click)=close()>Cerrar</button>
            </div>
        </div>
    </mat-dialog-content>
</div>