@import '../../../sass/variables.scss';

table {
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: #0c86cd;
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;

    @media only screen and (max-width: #{$medium-l}) {
        font-size: 20px;
    }
}

span {
    font-weight: bold;
}