<div class="container" style="padding-top: 50px; padding-bottom: 100px; padding-top: 200px;">
  <div class="row" style="padding-bottom: 30px;">
      <div class="col-md-12">
        <h1> Lista de administradores de <span>tortugarios</span></h1>
      </div>
  </div>
  <div class="row" style="width: 100%;">
      <div class="col-md-12">
          <div class="mat-elevation-z8" style="width: 100%;">
              <table mat-table [dataSource]="dataSource" matSort>
          
                <!-- no Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                  <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1}} </td>
                </ng-container>
            
                <!-- nombre Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del administrador </th>
                  <td mat-cell *matCellDef="let row"> {{getName(row)}} </td>
                </ng-container>
            
                <!-- email Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </th>
                  <td mat-cell *matCellDef="let row"> {{row.email ? row.email : 'NA' }} </td>
                </ng-container>
            
                <!-- telefono Column -->
                <ng-container matColumnDef="telefono">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
                  <td mat-cell *matCellDef="let row"> {{row.telefono ? row.telefono : 'NA'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
      </div>
  </div>
</div>