<div class="container" cdkFocusInitial>
    <mat-dialog-content>
        <div class="d-flex justify-content-center">
            <h1>Ubicación de tortugarios</h1>
        </div>
        <div class="d-flex justify-content-center">
            <h4 style="font-weight: bold; color: #0c86cd;">Información de los tortugarios solo es visible en esta vista.</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <google-map [center]="center" width="100%" [zoom]="zoom">
                        <map-marker
                            #tortugarioMarker="mapMarker"
                            *ngFor="let marker of markers"
                            [clickable]="true"
                            [position]="marker.position"
                            [label]="marker.label"
                            [title]="marker.title"
                            [options]="marker.options"
                            (mapClick)="openInfo(tortugarioMarker, marker)">
                        </map-marker>
                        <map-info-window>{{ infoContent }}</map-info-window>
                    </google-map>
                </mat-card>
            </div>        
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="d-flex justify-content-center" style="width: 100%;">
                <button mat-button class="button-cerrar" (click)=close()>Cerrar</button>
            </div>
        </div>
    </mat-dialog-content>
</div>