<section id="homeMianPage" class="padding-first-section">
	<div class="container-fluid" style="height: 90%;">
		<div class="container" style="margin-bottom: 5%;">
			<div class="row">
				<div class="col-md-8">
					<div class="container">
						<img class="img-fluid" src="assets/img/logoMontiroLetrasBlancas.png" alt="Logo letras blancas" style="width: 700px;">
					</div>
				</div>
				<div class="col-md-4">
					<div class="container d-flex justify-content-center" style="margin-bottom: 30px;">
						<h1 class="title-heaer">Bienvenidos</h1>
					</div>
					<div class="row">
						<div class="my-4 terms text-justify px-3" style="font-size: 15px;">
							<p style="font-size: 18px; color: white;"><span style="color: white; font-weight: bold; font-size: 23px;">moniTOR</span> es una aplicación sin fines de lucro que surgió como una iniciativa para mejorar el monitoreo y la conservación de las tortugas marinas en Guatemala facilitando la recolección, organización y presentación de los datos de los tortugarios en cuanto al número de huevos recolectados, incubados y neonatos liberados, así como de los avistamientos y varamientos de tortugas marinas en la playa y en alta mar.</p>
							
						</div>
					</div>
					<div class="row d-flex justify-content-end" style="width: 100%;">
						<div class="my-4 px-3 d-flex justify-content-end" style="width: 100%;">
							<a (click)="readMore()" style="color: white;">Leer más</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="generalInformation" class="margin-section disable-hover">
	<div class="container d-flex justify-content-start" style="margin-bottom: 40px;">
		<h1 id="infoGeneralTitle" class="title">Información general</h1>
	</div>
	<div class="container" style="margin-bottom: 5%;">
		<div fxLayout="row wrap" fxLayoutGap="100px grid" fxLayoutAlign="space-between">
			<div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let frame of framesArray">
				<app-iframe [id]="frame.id" [url]="frame.url"></app-iframe>
			</div>
		</div>
	</div>
</section>
<section id="tortugarios" class="margin-section">
	<div class="container d-flex justify-content-end" style="margin-bottom: 40px;">
		<h1 class="title">Tortugarios y liberación de neonatos</h1>
	</div>
	<div class="container">
		<div fxLayout="row wrap" fxLayoutGap="30px grid">
			<div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let option of tortugarioOptionsArray">
				<app-card [option]="option" [color]="'#FFFA40'" (onShowInformationDialog)="showInformationDialog($event, 400)"></app-card>
			</div>
		</div>
	</div>
</section>
<section id="donantes" class="margin-section">
	<div class="container d-flex justify-content-start" style="margin-bottom: 40px;">
		<h1 id="donantesTitle" class="title">Donantes</h1>
	</div>
	<div class="container">
		<div fxLayout="row wrap" fxLayoutGap="30px grid">
			<div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let option of donantesOptionsArray">
				<app-card [option]="option" [color]="'#76D753'" (onShowInformationDialog)="showInformationDialog($event)"></app-card>
			</div>
		</div>
	</div>
</section>
<section id="reportes" class="margin-section">
	<div class="container d-flex justify-content-end" style="margin-bottom: 40px;">
		<h1 class="title">Reportes</h1>
	</div>
	<div class="container">
		<div fxLayout="row wrap" fxLayoutGap="30px grid">
			<div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let option of reportesOptionsArray">
				<app-card [option]="option" [color]="'#004CE4'" (onShowInformationDialog)="showInformationDialog($event, 460)"></app-card>
			</div>
		</div>
	</div>
</section>