@import '../../../sass/variables.scss';

.title-heaer {
    font-size: 54px;
    color: white;
    font-weight: bold;
    letter-spacing: .15rem;
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;

    @media only screen and (max-width: #{$medium-l}) {
        font-size: 30px;
    }
}

.title{
    font-size: 36px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15rem;
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;

    @media only screen and (max-width: #{$medium-l}) {
        font-size: 20px;
    }
}

.title-long{
    font-size: 36px;
    color: #0c86cd;
    font-weight: bold;
    letter-spacing: .15rem;
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;

    @media only screen and (max-width: #{$medium-l}) {
        font-size: 20px;
    }
}


.decoration-span{
    font-size: 36px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
}

.shadow-box {
    box-shadow: 12px 12px 2px 1px $monitor-green;
}

.margin-section {
    padding-top: 10%;
    padding-bottom: 10%;


    @media only screen and (max-width: #{$medium-l}) {
        padding-top: 120px;
        padding-bottom: 30%;
    }
}

.container {
    max-width: 1440px;
}

.options_array {
    margin-left: 100px;
}

section {
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
    width: 100%;
    padding-top: 150px;
    width: 100%;
}

a {
    color: white;
    font-size: 20px;
    width: 150px;
    background: #0c86cd;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    transition: .3s;
    border-radius: 5px 5px 5px 5px;
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;

    &:hover {
        background: #9bc682;
    }
}

.box {
    color: #9bc682; 
    border: #9bc682 2px solid; 
    font-weight: bold !important; 
    width: 150px; 
    line-height: 50px; 
    text-align: center; 
    font-size: 20px;
}

strong { 
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
    font-weight: bold; 
}

.padding-first-section {
    padding-top: 250px;


  @media only screen and (max-width: #{$medium-l}) {
    padding-top: 120px;
  }
}

.disable-hover {
    pointer-events: none;
}