
<div class="container d-flex justify-content-center">
    <mat-card style="max-width: 400px; width: 100%; margin-top: 35px; margin-bottom: 50px;">    
        <!-- Title of an Card -->    
        <mat-card-title style="text-align: center;">    
            Crear nuevo usuario 
        </mat-card-title>    
        <mat-card-content style="margin-top: 20px;">    
            <form [formGroup]="userForm">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput formControlName="email" (blur)="errorMessage('email', userForm.controls.email)"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre de usuario</mat-label>
                            <input matInput formControlName="username"
                                   (blur)="errorMessage('username', userForm.controls.username)"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">

                            <mat-label>Contraseña</mat-label>
                            <input matInput 
                                   formControlName="password" 
                                   (blur)="errorMessage('password', userForm.controls.password)" 
                                   [type]="hidePassword ? 'password' : 'text'"/>
                            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="phone" (blur)="errorMessage('phone', userForm.controls.phone)"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Rol</mat-label>
                            <mat-select 
                                        formControlName="rol" 
                                        (blur)="errorMessage('rol', userForm.controls.rol)">
                                <mat-option value="CONAP">CONAP</mat-option>
                                <mat-option value="ROOT">Administrador web</mat-option>
                            </mat-select>    
                        </mat-form-field>
                    </div>
                </div>
            </form>    
        </mat-card-content>    
        <mat-card-actions>
            <div class="row" style="margin-top: 55px;">
                <div class="col-md-12 d-flex justify-content-center" style="margin-bottom: 10px;">
                    <button type="submit"  
                            mat-raised-button 
                            color="primary" 
                            style="margin-right: 20px; background-color: #0c86cd; color: white;" 
                            (click)="confirmCreation()">Crear</button>  
                    <button type="button" 
                            mat-raised-button 
                            style="background-color: red; color: white;" (click)="cancel()">Cancelar</button> 
                </div>
            </div> 
        </mat-card-actions>
    </mat-card> 
</div>