<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
            <div class="glass text-center">
                <!-- title -->
                <div>
                    <img class="img-fluid" src="assets/img/monitorLogo.png"
                        style="margin-bottom: 5px; width: auto; height: 120px;">
                    <h2>Bienvenido a moniTOR</h2>
                    <br>
                    <h4 class="font-poppins text-light" style="margin-bottom: 2px;">Por favor ingrese su información
                    </h4>
                    <h4 class="font-poppins text-light" style="margin-bottom: 20px;">para que el tortugario pueda
                        comunicarse con usted.</h4>
                </div>

                <!-- form -->
                <form [formGroup]="contactForm" class="py-2">
                    <div class="d-flex justify-content-center" style="margin-top: 10px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="name" type="text" width="240px">
                            <mat-icon matSuffix>account_circle</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-center" style="margin-top: 5px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput formControlName="email" type="email" width="240px">
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-center" style="margin-top: 5px;">
                        <mat-form-field appearance="outline">
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="phone" type="number" width="240px">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col d-none d-md-block" style="margin-bottom: 40px; margin-top: 10px;">
                        <button type="submit" mat-raised-button
                            style="color: white; background: #0c86cd; line-height: 50px; width: 150px; margin-right: 25px;" (click)="sendMail()">Enviar
                            información</button>
                        <button type="submit" mat-raised-button
                            style="color: white; background: red; line-height: 50px; width: 150px;" (click)="close()">Cancelar</button>
                    </div>
                    <div class="d-md-none" style="margin-bottom: 40px; margin-top: 10px;">
                        <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
                            <button type="submit" mat-raised-button
                                style="color: white; background: #0c86cd; line-height: 50px; width: 150px;" (click)="sendMail()">Enviar información</button>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button type="submit" mat-raised-button
                                style="color: white; background: red; line-height: 50px; width: 150px;" (click)="close()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>