@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
@import '../../../../sass/variables.scss';

* > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-site {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  width: 80%;
  height: 80%;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.text-white {
  color: #0c86cd;
}

.text-light {
  color: #b5b7b9 !important;
}

.link {
  text-decoration: none;
  color: #0c86cd;
}

.glass {
  width: 100%;
  backdrop-filter: blur(5px);
  
  @media only screen and (min-width: #{$large}) {
    padding: 0px 45px 0px;
  }

  @media only screen and (min-width: 995px) {
    padding: 0px 45px 0px;
  }
}

.glass .title h1 {
  font-size: 35px;
}

.glass form .form-control {
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.glass form .col .btn {
  width: 100%;
  padding: 0.6em 0.1em;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: #9bc682;
  color: #efefef;
  border: none;
}

button {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}