<div class="container" style="padding-bottom: 120px; padding-top: 180px;">
    <div class="d-flex justify-content-center">
        <div *ngIf="!showDonaciones" class="glass">
            <div class="row d-flex justify-content-center" style="margin-top: 1%; margin-bottom: 10px;">
                <img class="img-logo img-fluid" src="assets/img/monitorLogo.png" style="width: 250px;" />
            </div>
            <div class="row d-flex justify-content-center">
                <form [formGroup]="form">
                    <h1>Mis donaciones</h1>
                    <h5 style="font-weight: bold; margin-top: 10px;">
                        Por favor ingrese su correo electrónico y contraseña para poder ver sus donaciones.
                    </h5>
                    <hr class="sep" />
                    <div class="row d-flex justify-content-center">
                        <mat-form-field appearance="outline" style="width: 200px;">
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="username" />
                            <mat-error *ngIf="form.controls.username.invalid">Por favor ingrese su usuario para poder
                                continuar</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row d-flex justify-content-center" style="margin-top: 4%;">
                        <mat-form-field appearance="outline" style="width: 200px;">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" width="240px"
                                formControlName="password" />
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="form.controls.password.invalid">Por favor ingrese su contraseña para poder
                                continuar</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <div class="btn-box">
                            <button class="btn btn-submit" type="submit" (click)="searchAllDonaciones()">Buscar
                                donaciones</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <div class="btn-box">
                            <button class="btn btn-submit" type="button" style="background-color: red;"
                                routerLink="/home">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <p class="font-poppins"><button  mat-button [routerLink]="['/login']"
                            [queryParams]="{ recoveryPassword: true, from: 'buscar-donaciones' }" class="link" >Reiniciar contraseña</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="showDonaciones"
        style="width: 100%; margin-top: 5%; margin-bottom: 5%;">
        <div class="row d-flex justify-content-center" style="width: 100%;">
            <h1 class="title">Donaciones realizada</h1>
        </div>
        <mat-tab-group class="mat-elevation-z4" dynamicHeight mat-align-tabs="center"
            style="width: 100%; background-color: white;" color="primary" backgroundColor="primary">
            <!-- #enddocregion dynamic-height -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="assets/img/icons/dollar.png" alt="icon">
                    Donación ecónomica
                </ng-template>
                <div *ngIf="!dataSourceEconomica || !dataSourceEconomica.data || dataSourceEconomica.data.length == 0"
                    style="text-align: center; margin-top: 2%; margin-bottom: 2%;">
                    <h1 class="title" style="color: #0c86cd;">No ha realizado ninguna donación ecónomica</h1>
                </div>
                <table mat-table [dataSource]="dataSourceEconomica" matSort
                    [hidden]="!(dataSourceEconomica && dataSourceEconomica.data && dataSourceEconomica.data.length > 0)">
                    <!-- nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>

                    <!-- fecha Column -->
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                        <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                    </ng-container>

                    <!-- monto Column -->
                    <ng-container matColumnDef="monto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto donado </th>
                        <td mat-cell *matCellDef="let row"> {{row.monto | currency: 'Q.'}} </td>
                    </ng-container>

                    <!-- montoUtilizado Column -->
                    <ng-container matColumnDef="montoUtilizado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto utilizado </th>
                        <td mat-cell *matCellDef="let row"> {{row.montoUtilizado | currency: 'Q.'}} </td>
                    </ng-container>

                    <!-- nombreTortugario Column -->
                    <ng-container matColumnDef="nombreTortugario">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del tortugario </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombreTortugario}} </td>
                    </ng-container>

                    <!-- status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                    </ng-container>

                    <!-- acciones Column -->
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-button class="active-button" [routerLink]="['/donaciones']"
                                [queryParams]="{ id: row.id, type: 'economica'}">Ver</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsEconomic"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsEconomic;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </mat-tab>
            <mat-tab label="Donación de huevos">
                <ng-template mat-tab-label>
                    <img src="assets/img/icons/turtle.png" alt="icon">
                    Donación de huevos
                </ng-template>
                <div *ngIf="!dataSourceHuevos || !dataSourceHuevos.data || dataSourceHuevos.data.length == 0"
                    style="text-align: center; margin-top: 2%; margin-bottom: 2%;">
                    <h1 class="title" style="color: #0c86cd;">No ha realizado ninguna donación de huevos</h1>
                </div>
                <table mat-table [dataSource]="dataSourceHuevos" matSort
                    [hidden]="!(dataSourceHuevos && dataSourceHuevos.data && dataSourceHuevos.data.length > 0)">
                    <!-- nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>

                    <!-- fecha Column -->
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                        <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                    </ng-container>

                    <!-- cantidadHuevos Column -->
                    <ng-container matColumnDef="cantidadHuevos">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de huevos </th>
                        <td mat-cell *matCellDef="let row"> {{row.cantidadHuevos}} </td>
                    </ng-container>

                    <!-- nombreTortugario Column -->
                    <ng-container matColumnDef="nombreTortugario">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del tortugario </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombreTortugario}} </td>
                    </ng-container>

                    <!-- status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                    </ng-container>

                    <!-- acciones Column -->
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-button class="active-button" [routerLink]="['/donaciones']"
                                [queryParams]="{id: row.id, type: 'huevos'}">Ver</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsEggs"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsEggs;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="btn-box" *ngIf="showDonaciones">
        <button class="btn btn-submit" type="submit" (click)="clearBusquedaTortugario()">Realizar otra búsqueda</button>
    </div>
</div>