@import '../../../sass/variables.scss';

.active-button {
    background-color: #0c86cd; 
    color: white;
}

// VARIABLES // ============================== //
$bg-color: #424242;
$hl-color: #0c86cd;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 420px;

*,
:before,
:after {
  box-sizing: border-box;
}

// FORM // ============================== //
form {
  width: $width;
  margin: 45px auto;
  
  h1 {
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
  }
  h5 {
    text-align: center;
    color: #b5b7b9;
  }
  hr.sep {
    background: $hl-color;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  .emoji {
    font-size: 1.2em;
  }
}

.group {
  position: relative;
  margin: 45px 0;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}


input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}

// BUTTONS // ============================== //
.btn {
  background: #fff;
  color: mix(black, $muted-color, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    color: mix(black, $muted-color, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
  &.btn-link {
    background: $hl-color;
    color: mix(white, $hl-color, 80%);
    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }
  &.btn-submit {
    background: $hl-color;
    color: white;
    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }
  &.btn-cancel {
    background: #eee;
    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, $muted-color, 30%);
    }
  }
}

.btn-box {
  text-align: center;
  margin: 15px 0;
}

table {
  width: 100%;
}

.active-button {
  background-color: #0c86cd; 
  color: white;
}

.glass{
  max-width: 550px;
  width: 100%;
  position: sticky;
  padding: 65px 90px 45px;
  backdrop-filter: blur(30px);
  background-color: white;
  box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.3);
  border-radius: 35px 35px 35px 35px;
}

.title{
  font-size: 36px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.15rem;
  font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;

  @media only screen and (max-width: #{$medium-l}) {
      font-size: 20px;
  }
}

::ng-deep .mat-tab-group.mat-background-primary .mat-tab-header {
  background-color: #0c86cd;
}


.link{
  text-decoration: none;
  color: #0c86cd;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}
