<div id="body-pd">
  <header class="header body-pd" id="header">
  </header>
  <div class="l-navbar show" id="nav-bar" style="height: 100%;">
    <nav class="nav">
      <div>
        <span class="nav_logo">
          <i class="bx bx-layer nav_logo-icon"></i>
          <span class="nav_logo-name">moniTOR</span>
        </span>
        <div class="nav_list">
          <a id="home" routerLink="/menu" (click)="showComponent('home')" [ngClass]="sections.home? 'nav_link active' : 'nav_link'">
            <i class="bx bx-grid-alt nav_icon"></i>
            <span class="nav_name">Dashboard</span>
          </a>
          <a id="users" *ngIf="user.rol.toLowerCase() === 'root'" routerLink="/menu" (click)="showComponent('crearUsuario')" [ngClass]="sections.crearUsuario? 'nav_link active' : 'nav_link'">
            <i class="bx bx-user nav_icon"></i>
            <span class="nav_name">Crear usuario</span>
          </a>
          <a id="reports" routerLink="/menu" (click)="showComponent('reports')" [ngClass]="sections.reports? 'nav_link active' : 'nav_link'">
            <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
            <span class="nav_name">Reportes</span>
          </a>
        </div>
      </div>
      <button 
              mat-button class="nav_link" 
              (click)="logOut()">
        <i class="bx bx-log-out nav_icon"></i>
        <span style="margin-left: 12px;" class="nav_name">Cerrar sesión</span>
      </button>
    </nav>
  </div>
  <div class="container" style="padding-top: 70px; max-width: 150vh; background-color: white; margin-left: 10%; height: 100%;">
    <div *ngIf="sections.show && sections.section === 'home'" [@slideInOut]>
      <div class="row" *ngFor="let option of options">
          <div class="col-md-4 d-flex justify-content-center" *ngFor="let element of option">
            <div *ngIf="element.rol.includes('all') || element.rol.includes(user.rol.toLowerCase())" >
              <app-card-menu [element]="element" (onHideComponent)="onHide($event)"></app-card-menu>
            </div>
          </div>
      </div>
    </div>
    <div *ngIf="sections.show && sections.section === 'reports'" [@slideInOut]>
      <div class="row" *ngFor="let report of reports">
          <div class="col-md-4 d-flex justify-content-center" *ngFor="let element of report">
              <app-card-menu [element]="element" (onHideComponent)="onHide($event)"></app-card-menu>
          </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="sections.show && sections.section === 'createTortugario'" [@slideInOut]>
      <app-tortugario (onHideComponent)="onHide($event)"></app-tortugario>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="sections.show && sections.section === 'crearUsuario'" [@slideInOut]>
      <app-create-user (onHideComponent)="onHide($event)"></app-create-user>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="sections.show && sections.section === 'reporteVaramiento'" [@slideInOut]>
      <app-search-tortugario [typeReport]="sections.section"></app-search-tortugario>
      <div class="row flex justify-content-center" style="margin-top: 50px;">
        <button mat-button style="width: 150px; background-color: red; color: white;" (click)="showComponent('reports')">Cancelar</button>
      </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="sections.show && sections.section === 'reporteInspeccion'" [@slideInOut]>
      <app-search-tortugario [typeReport]="sections.section"></app-search-tortugario>
      <div class="row flex justify-content-center" style="margin-top: 50px;">
        <button mat-button style="width: 150px; background-color: red; color: white;" (click)="showComponent('reports')">Cancelar</button>
      </div>
    </div>
  </div>
</div>
