<mat-card class="mat-elevation-z8" style="margin-top: 15px; margin-bottom: 15px;" *ngIf="element">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{element.title}}</mat-card-title>
      <mat-card-subtitle>{{element.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <div class="d-flex justify-content-center" style="width: 100%; margin-top: 10px; height: 70%;">
        <img mat-card-image class="d-flex justify-content-center img-fluid" [src]="element.image" alt="Itllin Trullie" width="100px" height="180px">
    </div>
    <mat-card-actions>
      <button mat-button (click)="send()">Ir</button>
    </mat-card-actions>
  </mat-card>
