<div class="container body-class" style="height: 90%; padding-top: 200px; margin-bottom: 200px;" *ngIf="!recoveryPasswordScreen">
  <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="glass text-center">

      <!-- title -->
      <div class="title">
    <img class="img-fluid" src="assets/img/logoMontiroLetrasBlancas.png" width="450px" height="300px" style="margin-bottom: 25px;">
          <h1 style="font-weight: bold; color: white;">Bienvenido a moniTOR</h1>
          <br>
      </div>

      <!-- form -->
      <form [formGroup]="loginForm" class="py-2" style="margin-top: 10px;">
          <h4 class="font-poppins text-light" style="margin-bottom: 20px; font-weight: bold;" >Ingrese su usuario y contraseña.</h4>
          
          <div class="d-flex justify-content-center" style="margin-top: 25px;">
            <mat-form-field appearance="outline">
              <mat-label style="color: white;">Usuario</mat-label>
              <input matInput formControlName="username"  type="text" width="240px">
              <mat-icon matSuffix style="color: white;">account_circle</mat-icon>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-center ">
            <mat-form-field appearance="outline">
              <mat-label style="color: white;">Contrase&ntilde;a</mat-label>
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"  width="240px">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon style="color: white;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col" style="margin-bottom: 40px; margin-top: 25px;">
              <button type="submit" class="btn" (click)="singin()">Iniciar sesión</button>
          </div>

          <div class="py-1">
              <p class="font-poppins" style="color: white;">¿Olvidó su contraseña?</p>
              <p class="font-poppins"><button  mat-button (click)="recoveryPasswordScreen = !recoveryPasswordScreen" class="link">Reiniciar</button></p>
          </div>
      </form>
  </div>
  </div>
</div>
<!--SOLICITUD RECUPERACIÓN TOKEN-->
<div class="container body-class" style="height: 90%; padding-top: 200px; margin-bottom: 100px;" *ngIf="recoveryPasswordScreen">
  <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="glass text-center">

      <!-- title -->
      <div class="title">
    <img class="img-fluid" src="assets/img/logoMontiroLetrasBlancas.png" width="450px" height="300px" style="margin-bottom: 25px;">
          <h1 style="color: white; font-weight: bold;">Recuperar contraseña</h1>
          <br>
          <p class="font-poppins text-light">Por favor ingrese su usuario para poder reiniciar su contraseña</p>
      </div>

      <!-- form -->
      <form [formGroup]="recoveryForm" class="py-2" style="margin-top: 15px;">
          <div class="d-flex justify-content-center">
            <mat-form-field appearance="outline">
              <mat-label style="color: white;">Usuario</mat-label>
              <input matInput formControlName="username"  type="text" width="240px" style="color: white;" >
              <mat-icon matSuffix style="color: white;">account_circle</mat-icon>
            </mat-form-field>
          </div>
          <div class="col" style="margin-bottom: 40px; margin-top: 25px;">
              <button type="submit" class="btn" (click)="sendVerificationCode()">Enviar código de verificación</button>
          </div>
          <div class="py-1" *ngIf="!isFromExternalPage">
            <p class="font-poppins" style="color: white;">¿Cancelar?</p>
            <p class="font-poppins"><button type="button" mat-button (click)="recoveryPasswordScreen = !recoveryPasswordScreen" class="link">Iniciar sesión</button></p>
          </div>
          <div class="py-1" *ngIf="isFromExternalPage">
            <p class="font-poppins" style="color: white;">¿Cancelar?</p>
            <p class="font-poppins"><button type="button" mat-button [routerLink]="['/' + externalPage]" class="link"> Regresar </button></p>
        </div>
      </form>
  </div>
  </div>
</div>