@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.img-fluid{
    width: 80%;
    height: 80%;
}

.text-center{
    text-align: center;
}

.py-1{
    padding-top: 1em;
    padding-bottom: 1em;
}

.py-2{
    padding-top: 2em;
    padding-bottom: 2em;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.text-white{
    color: #0c86cd;
}

.text-light{
    color: #b5b7b9 !important;
}

.link{
    text-decoration: none;
    color: #0c86cd;
}


.glass{
    max-width: 550px;
    width: 100%;
    padding: 65px 90px 45px;
    backdrop-filter: blur(30px);
    vertical-align: middle;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.3);
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 35px 35px 35px 35px;
}

.glass .title h1{
    font-size: 35px;
}

.glass form .form-control{
    width: 55px;
    padding: .3em .1em;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.glass form .col .btn{
    width: 100%;
    padding: .6em .1em;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #9bc682;
    color: #efefef;
    border: none;
}