<div *ngIf="url">
    <div class="d-flex justify-content-center" style="width: 100%; border-bottom: 5px solid #01ADE3;">
        <iframe [src]="url | safe" frameborder="0" marginheight="0" marginwidth="0"
            sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-same-origin allow-scripts"
            scrolling="no" style="border: none;" allowfullscreen mozallowfullscreen msallowfullscreen
            webkitallowfullscreen></iframe>
    </div>
</div>