<div class="container d-flex justify-content-center" style="width: 100%;">
    <div class="row">
      <div class="col-12">
        <h1> {{showTable ? 'Búsqueda de inspecciones' : 'No se encontraron inspecciones asociadas al tortugario '+nombreTortugario}}</h1>
      </div>
    </div>
</div>

<div *ngIf="showTable" class="container d-flex justify-content-start" style="width: 100%; margin-top: 25px;">
    <div class="row">
        <mat-form-field appearance="standard">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>
    </div>
</div>
<div *ngIf="showTable"  class="container d-flex justify-content-center" style="width: 100%; margin-top: 25px;">
    <div class="row" style="width: 100%;">
        <div class="mat-elevation-z8" style="width: 100%;">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- fecha Column -->
              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
              </ng-container>
          
              <!-- horaInicio Column -->
              <ng-container matColumnDef="horaInicio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora inicio </th>
                <td mat-cell *matCellDef="let row"> {{row.horaInicio}} </td>
              </ng-container>
          
              <!-- horaFin Column -->
              <ng-container matColumnDef="horaFin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora fin </th>
                <td mat-cell *matCellDef="let row"> {{row.horaFin}} </td>
              </ng-container>
          
              <!-- comprobante Column -->
              <ng-container matColumnDef="comprobante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Comprobante </th>
                <td mat-cell *matCellDef="let row"> {{row.comprobante}} </td>
              </ng-container>

              <!-- nombreTortugario Column -->
              <ng-container matColumnDef="nombreTortugario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tortugario </th>
                <td mat-cell *matCellDef="let row"> {{row.nombreTortugario}} </td>
              </ng-container>

              <!-- direccionRegional Column -->
              <ng-container matColumnDef="direccionRegional">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección regional </th>
                <td mat-cell *matCellDef="let row"> {{row.direccionRegional}} </td>
              </ng-container>

              <!-- estado Column -->
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
              </ng-container>
              
              <!-- acciones Column -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row">
                  <button mat-button [disabled]="row.estado === 'PENDIENTE'"
                  [ngClass]="{'disabled-button': row.estado === 'PENDIENTE', 'active-button': row.estado !== 'PENDIENTE'}" (click)="openPdf(row.id)">Generar PDF</button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay resultados "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>