<div *ngIf="views['home']">
<div class="container d-flex justify-content-center" style="width: 100%;">
    <div class="row">
      <div class="col-12">
        <h1>{{title}}</h1>
      </div>
    </div>
</div>

<div class="container d-flex justify-content-start" style="width: 100%; margin-top: 25px;">
    <div class="row">
        <mat-form-field appearance="standard">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>
    </div>
</div>
<div class="container d-flex justify-content-center" style="width: 100%; margin-top: 25px;">
    <div class="row" style="width: 100%;">
        <div class="mat-elevation-z8" style="width: 100%;">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- nombre Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
              </ng-container>
          
              <!-- numeroRegistro Column -->
              <ng-container matColumnDef="numeroRegistro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de registro </th>
                <td mat-cell *matCellDef="let row"> {{row.numeroRegistro}} </td>
              </ng-container>
          
              <!-- tipoTortugario Column -->
              <ng-container matColumnDef="tipoTortugario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo tortugario </th>
                <td mat-cell *matCellDef="let row"> {{row.tipoTortugario}} </td>
              </ng-container>
          
              <!-- direccionConap Column -->
              <ng-container matColumnDef="direccionConap">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Direción CONAP </th>
                <td mat-cell *matCellDef="let row"> {{row.direccionConap}} </td>
              </ng-container>

              <!-- departamento Column -->
              <ng-container matColumnDef="departamento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
                <td mat-cell *matCellDef="let row"> {{row.departamento}} </td>
              </ng-container>

              <!-- municipio Column -->
              <ng-container matColumnDef="municipio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Municipio </th>
                <td mat-cell *matCellDef="let row"> {{row.municipio}} </td>
              </ng-container> 
              
              <!-- acciones Column -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row">
                  <button mat-button style="background-color: #0c86cd; color: white;" (click)="showReport(typeReport, row)">Seleccionar</button>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay resultados {{input.value}}</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>
</div>
<div *ngIf="typeReport === 'reporteVaramiento' && views[typeReport]">
  <div>
    <app-search-varamientos [tortugarioId]="tortugarioId" [nombreTortugario]="nombreTortugario"></app-search-varamientos>
  </div>
</div>
<div *ngIf="typeReport === 'reporteInspeccion' && views[typeReport]">
  <div>
    <app-search-inspeccion [tortugarioId]="tortugarioId" [nombreTortugario]="nombreTortugario"></app-search-inspeccion>
  </div>
</div>