<div class="body-class" *ngIf="data.isVerificationScreen && !resetPasswordScreen">
    <section id="main-site">
        <div class="glass text-center">

            <!-- title -->
            <div class="title">
			    <img class="img-fluid" src="assets/img/monitorLogo.png" width="450px" height="300px" style="margin-bottom: 25px;">
                <h1>Verificación de usuario</h1>
                <br>
                <p class="font-poppins text-light">Hemos enviado un código de verificación</p>
                <p class="font-poppins text-light">correo o teléfono celular</p>
            </div>

            <!-- form -->
            <form [formGroup]="codeForm" class="py-2" style="margin-top: 10px;">
                <h4 class="font-poppins text-light">Ingrese su código de verificación aquí:</h4>
                <br>
                <div id="codeGroup" class="row" style="margin-top: 10px; margin-bottom: 20px;">
                    <div class="col-md-2">
                        <input #d1 placeholder="*" formControlName="d1" type="text"  maxlength="1" class="form-control" (keyup)="d2.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d2 placeholder="*" formControlName="d2" type="text"  maxlength="1" class="form-control" (keyup)="d3.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d3 placeholder="*" formControlName="d3" type="text"  maxlength="1" class="form-control" (keyup)="d4.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d4 placeholder="*" formControlName="d4" type="text"  maxlength="1" class="form-control" (keyup)="d5.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d5 placeholder="*" formControlName="d5" type="text"  maxlength="1" class="form-control" (keyup)="d6.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d6 placeholder="*" formControlName="d6" type="text"  maxlength="1" class="form-control">
                    </div>
                </div>
                <div class="col" style="margin-bottom: 20px;">
                    <button type="submit" class="btn" (click)="verifyNewUser()">Verificar</button>
                </div>
            </form>
        </div>
    </section>
</div>
<div class="body-class" *ngIf="!data.isVerificationScreen && !resetPasswordScreen">
    <section id="main-site">
        <div class="glass text-center">

            <!-- title -->
            <div class="title">
			    <img class="img-fluid" src="assets/img/monitorLogo.png" width="450px" height="300px" style="margin-bottom: 25px;">
                <h1>Reinicio de contraseña</h1>
                <br>
                <p class="font-poppins text-light">Hemos enviado un código de verificación para</p>
                <p class="font-poppins text-light">poder reiniciar su contraseña</p>
            </div>

            <!-- form -->
            <form [formGroup]="codeForm" class="py-2" style="margin-top: 10px;">
                <h4 class="font-poppins text-light">Ingrese su código de verificación aquí:</h4>
                <br>
                <div id="codeGroup" class="row" style="margin-top: 10px; margin-bottom: 20px;">
                    <div class="col-md-2">
                        <input #d1 placeholder="*" formControlName="d1" type="text"  maxlength="1" class="form-control" (keyup)="d2.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d2 placeholder="*" formControlName="d2" type="text"  maxlength="1" class="form-control" (keyup)="d3.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d3 placeholder="*" formControlName="d3" type="text"  maxlength="1" class="form-control" (keyup)="d4.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d4 placeholder="*" formControlName="d4" type="text"  maxlength="1" class="form-control" (keyup)="d5.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d5 placeholder="*" formControlName="d5" type="text"  maxlength="1" class="form-control" (keyup)="d6.focus()">
                    </div>
                    <div class="col-md-2">
                        <input #d6 placeholder="*" formControlName="d6" type="text"  maxlength="1" class="form-control">
                    </div>
                </div>

                <div class="col" style="margin-bottom: 20px;">
                    <button type="button" class="btn" (click)="verifyCode()">Verificar</button>
                </div>

                <div class="py-1">
                    <p class="font-poppins">¿Aún no has recibido su código?</p>
                    <p class="font-poppins"><button mat-button class="link" (click)="resendCode()">Reenviar</button></p>
                </div>
            </form>
        </div>
    </section>
</div>
<div class="body-class" *ngIf="resetPasswordScreen" [@enterAnimation]>
    <section id="main-site">
        <div class="glass text-center">

            <!-- title -->
            <div class="title">
			    <img class="img-fluid" src="assets/img/monitorLogo.png" width="450px" height="300px" style="margin-bottom: 25px;">
                <h1>Reinicio de contraseña</h1>
            </div>

            <!-- form -->
            <form [formGroup]="resetPassWordForm" class="py-2" style="margin-top: 10px;">
                <h4 class="font-poppins text-light">Ingrese su nueva contraseña aquí:</h4>
                <br>
      
                <div class="d-flex justify-content-center ">
                    <mat-form-field appearance="outline">
                      <mat-label>Contrase&ntilde;a</mat-label>
                      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"  width="240px">
                      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                </div>

                <div class="col" style="margin-bottom: 20px;">
                    <button type="submit" class="btn" (click)="changePassword()">Cambiar contraseña</button>
                </div>
            </form>
        </div>
    </section>
</div>