@import '../../../sass/variables.scss';

.title-h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;

    @media only screen and (max-width: #{$medium-l}) {
        font-size: 20px;
    }
}