<diV class="container" style="margin-top: 200px; margin-bottom: 50px; width: 100%;">
  <div class="row d-flex justify-content-center" style="width: 100%;">
    <h1  class="title-h1">Próximas fechas estimadas de liberación de neonatos</h1>
  </div>
</diV>
<div class="container" style="width: 100%; height: 100%; padding-bottom: 150px;" [style.height]="heighContainer" >
    <div class="row text-center">
        <div class="col-md-6">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              locale="es"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Anterior
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate"
            >
              Hoy
            </div>
            <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Siguiente
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h1 style="color: white; font-weight: bold;">{{ viewDate | calendarDate: (view + 'ViewTitle') : 'es'  | uppercase }}</h1>
        </div>
      </div>
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          locale="es"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
      </div>
</div>