table {
    width: 100%;
    height: 100%;
}

.td-title {
    font-weight: bold;
    font-size: 18px;
    color: #0c86cd;
}

.button-cerrar {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #9bc682;
    line-height: 50px;
}

button {
    outline: none;
}

.contact-title {
    font-weight: bold;
    color: #0c86cd;
    text-decoration: underline;
}