<div class="container" style="height: 100%;" *ngIf="tortugario" cdkFocusInitial>
    <div>
        <h1 mat-dialog-title style="color: #0c86cd; font-weight: bold;">{{tortugario.nombre}}</h1>
    </div>
    <br>
    <mat-dialog-content class="d-none d-md-block">
        <table>
            <tbody>
                <tr>
                    <td class="td-title">Tipo tortugario</td>
                    <td class="td-title">Temporada actual</td>
                </tr>
                <tr>
                    <td>{{tortugario.tipoTortugario}}</td>
                    <td>{{fechaInicio}} - {{fechaFin}}</td>
                </tr>
                <tr >
                    <td class="td-title" style="padding-top: 20px;">Municipio</td>
                    <td class="td-title">Número de huevos sembrados</td>
                </tr>
                <tr>
                    <td>{{tortugario.municipio}}</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="td-title" style="padding-top: 20px;">Departamento</td>
                    <td class="td-title">Número de neonatos liberados</td>
                </tr>
                <tr>
                    <td>{{tortugario.departamento}}</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="td-title" style="padding-top: 20px;">Dirección regional CONAP</td>
                </tr>
                <tr>
                    <td>{{tortugario.direccionConap}}</td>
                </tr>
            </tbody>
        </table>
        <hr style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row">
            <a (click)="contactDialog()"><h1 class="contact-title">Contactar tortugario</h1></a>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="d-none d-md-block">
                <div style="padding-bottom: 10px;">
                    <div>
                        <button mat-button class="button-cerrar" (click)=close()>Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-content class="d-md-none">
        <table>
            <tbody>
                <tr>
                    <td class="td-title">Tipo tortugario</td>
                </tr>
                <tr>
                    <td>{{tortugario.tipoTortugario}}</td>
                </tr>
                <tr >
                    <td class="td-title" style="padding-top: 20px;">Municipio</td>
                </tr>
                <tr>
                    <td>{{tortugario.municipio}}</td>
                </tr>
                <tr>
                    <td class="td-title" style="padding-top: 20px;">Departamento</td>
                </tr>
                <tr>
                    <td>{{tortugario.departamento}}</td>
                </tr>
                <tr>
                    <td class="td-title" style="padding-top: 20px;">Temporada actual</td>
                </tr>
                <tr>
                    <td>{{fechaInicio}} - {{fechaFin}}</td>
                </tr>

                <tr>
                    <td class="td-title" style="padding-top: 20px;">Número de huevos sembrados</td>
                </tr>
                <tr>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="td-title" style="padding-top: 20px;">Número de neonatos liberados</td>
                </tr>
                <tr>
                    <td>0</td>
                </tr>
                <tr>
                    <td class="td-title" style="padding-top: 20px;">Dirección regional CONAP</td>
                </tr>
                <tr>
                    <td>{{tortugario.direccionConap}}</td>
                </tr>
            </tbody>
        </table>
        <hr style="margin-top: 20px; margin-bottom: 20px;">
        <div class="row">
            <a (click)="contactDialog()"><h1 class="contact-title">Contactar tortugario</h1></a>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="d-md-none">
                <div>
                    <div class="d-flex align-items-end">
                        <button mat-button class="button-cerrar" (click)=close() cdkFocusRegionEnd>Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</div>