/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
@import "../node_modules/angular-calendar/css/angular-calendar.css";

$montiro-blue: #0c86cd;
$monitor-green: #9bc682;
$light-grey: rgb(150, 150, 150);

html, body {
  position: fixed;
  overflow-y: auto;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background: url('assets/img/tortugas.gif') repeat fixed top left;
  background-repeat: no-repeat;
  background-color: black;
  background-position:  50% 0; 
  background-size: cover;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

footer {
  bottom: 0;
}

* {
  font-size: 100%;
  font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
}

table{
  font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, span, a, div, p {
  font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;
}


.custom-container .mat-dialog-container {
  border-radius: 35px !important;
  overflow-y: auto !important;

  @media only screen and (max-width: 400px) {
    max-height: 600px !important;
  }
}


button {
  outline: none;
}