<div class="container" style="margin-top: 10%; margin-bottom: 10%; min-height: 300px"
    *ngIf="donacionEconomica && typeDonacion === 'economica'">
    <div class="row d-flex justify-content-center">
        <mat-card style="background-color: transparent">
            <div class="row d-flex justify-content-center" style="text-align: center; margin-top: 5%">
                <h1 class="title">Resumen de donación</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <th class="th-title">Monto donado:</th>
                            <th class="th-description">
                                {{ donacionEconomica.monto | currency: "Q." }}
                            </th>
                        </tr>
                        <tr>
                            <th class="th-title">Monto utilizado:</th>
                            <th class="th-description">
                                {{ montoUtilizado | currency: "Q." }}
                            </th>
                        </tr>
                        <tr>
                            <th class="th-title">Fecha de donación</th>
                            <th class="th-description">
                                {{ donacionEconomica.createdAt | date: "dd/MM/yyyy" }}
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="text-align: center; padding-left: 20px; padding-right: 20px; word-break: break-all; margin-top: 5%;">
                <h1 class="title">Porcentaje de donación utilizado</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <div id="inputDiv" class="radial-progress" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </mat-card>
    </div>
    <div class="row">
        <h1 class="title">Historial de compras</h1>
    </div>
    <div class="row">
        <div *ngIf="!dataSource || !dataSource.data || dataSource.data.length == 0"
            style="text-align: center; margin-top: 2%; margin-bottom: 2%">
            <h1 class="title">No se han realizado compras con esta donación.</h1>
        </div>
        <div class="mat-elevation-z8" style="width: 100%">
            <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort [hidden]="
          !(dataSource && dataSource.data && dataSource.data.length > 0)
        ">
                <!-- especieProbable Column -->
                <ng-container matColumnDef="especieProbable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Especie probable
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.especieProbable }}</td>
                </ng-container>

                <!-- cantidadHuevos Column -->
                <ng-container matColumnDef="cantidadHuevos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Cantidad de huevos
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.cantidadHuevos }}</td>
                </ng-container>

                <!-- fecha Column -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.fecha | date: "dd/MM/yyyy" }}
                    </td>
                </ng-container>

                <!-- monto Column -->
                <ng-container matColumnDef="monto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Monto de la compra
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.monto | currency: "Q." }}
                    </td>
                </ng-container>

                <!-- playa Column -->
                <ng-container matColumnDef="playa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Playa</th>
                    <td mat-cell *matCellDef="let row">{{ row.playa }}</td>
                </ng-container>

                <!-- tortugario Column -->
                <ng-container matColumnDef="tortugario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombre del tortugario
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.tortugario }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements" [hidden]="
          !(dataSource && dataSource.data && dataSource.data.length > 0)
        ">
            </mat-paginator>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="btn-box">
                    <button class="btn btn-submit" type="button" routerLink="/buscar-donaciones">
                        Regresar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 10%; margin-bottom: 10%; min-height: 300px"
    *ngIf="donacionHuevos && typeDonacion === 'huevos'">
    <div class="row d-flex justify-content-center">
        <mat-card style="background-color: transparent">
            <div class="row d-flex justify-content-center" style="text-align: center; margin-top: 5%">
                <h1 class="title">Resumen de donación</h1>
            </div>
            <div class="row d-flex justify-content-center">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <th class="th-title">Huevos donados:</th>
                            <th class="th-description">
                                {{ donacionHuevos.cantidadHuevos }}
                            </th>
                        </tr>
                        <tr>
                            <th class="th-title">Especie Probable:</th>
                            <th class="th-description">
                                {{ donacionHuevos.especieProbable }}
                            </th>
                        </tr>
                        <tr>
                            <th class="th-title">Fecha de donación</th>
                            <th class="th-description">
                                {{ donacionHuevos.createdAt | date: "dd/MM/yyyy" }}
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card>
    </div>
    <div class="row">
        <h1 class="title">Historial de donaciones</h1>
    </div>
    <div class="row">
        <div *ngIf="
        !dataSourceEggs ||
        !dataSourceEggs.data ||
        dataSourceEggs.data.length == 0
      " style="text-align: center; margin-top: 2%; margin-bottom: 2%">
            <h1 class="title">No hay donaciones anteriores.</h1>
        </div>
        <div class="mat-elevation-z8" style="width: 100%">
            <table class="mat-elevation-z8" mat-table [dataSource]="dataSourceEggs" matSort [hidden]="
          !(
            dataSourceEggs &&
            dataSourceEggs.data &&
            dataSourceEggs.data.length > 0
          )
        ">
                <!-- especieProbable Column -->
                <ng-container matColumnDef="especieProbable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Especie probable
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.especieProbable }}</td>
                </ng-container>

                <!-- cantidadHuevos Column -->
                <ng-container matColumnDef="cantidadHuevos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Cantidad de huevos
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.cantidadHuevos }}</td>
                </ng-container>

                <!-- fecha Column -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.fecha | date: "dd/MM/yyyy" }}
                    </td>
                </ng-container>

                <!-- sector Column -->
                <ng-container matColumnDef="sector">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sector</th>
                    <td mat-cell *matCellDef="let row">{{ row.sector }}</td>
                </ng-container>

                <!-- playa Column -->
                <ng-container matColumnDef="playa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Playa</th>
                    <td mat-cell *matCellDef="let row">{{ row.playa }}</td>
                </ng-container>

                <!-- tortugario Column -->
                <ng-container matColumnDef="tortugario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombre del tortugario
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.tortugario }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsEggs"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsEggs"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements" [hidden]="
          !(dataSource && dataSource.data && dataSource.data.length > 0)
        ">
            </mat-paginator>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="btn-box">
                    <button class="btn btn-submit" type="button" (click)="backPage()">
                        Regresar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>