@import "../../../sass/variables.scss";

// VARIABLES // ============================== //
$bg-color: #424242;
$hl-color: #0c86cd;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 420px;

.active-button {
  background-color: #0c86cd;
  color: white;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.title {
  font-size: 36px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.15rem;
  font-family: "Poppins", sans-serif, "Helvetica Neue", sans-serif;

  @media only screen and (max-width: #{$medium-l}) {
    font-size: 20px;
  }
}

table {
  width: 100%;
}

.btn {
  background: #fff;
  color: mix(black, $muted-color, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    color: mix(black, $muted-color, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }

  &.btn-link {
    background: $hl-color;
    color: mix(white, $hl-color, 80%);

    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }

  &.btn-submit {
    background: $hl-color;
    color: white;

    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }

  &.btn-cancel {
    background: #eee;

    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, $muted-color, 30%);
    }
  }
}

.btn-box {
  text-align: center;
  margin: 15px 0;
}

.row {
  margin-top: 2%;
  margin-bottom: 2%;
}

.radial-progress {
  --hue: 220;
  --holesize: 65%;
  --track-bg: hsl(233 34% 92%);
  
  block-size: 30vmin;
  color: white;
  inline-size: 30vmin;
  min-inline-size: 100px;
  min-block-size: 100px;
  display: grid;
  place-items: center;
  position: sticky;
  font-weight: 700;
  font-size: max(8vmin, 1.4rem);
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    background: conic-gradient(
      hsl(var(--hue) 100% 70%),
      hsl(var(--hue) 100% 40%),
      hsl(var(--hue) 100% 70%) var(--progress, 0%),
      var(--track-bg) var(--progress, 0%) 100%
    );
    
    mask-image: radial-gradient(
      transparent var(--holesize),
      black calc(var(--holesize) + 0.5px)
    );
  }
}

.th-title {
    font-size: 25px;
    font-weight: bold;
    color: white;
    width: 40%;
    padding: 10px;
    white-space: nowrap;
}

.th-description {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: #9bc682;
    width: 40%;
    padding: 10px;
    white-space: nowrap;
}
